* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
}

/* hero nav */
#heroNav header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: rgb(1, 1, 29);
  font-weight: bold;
}

#heroNav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  white-space: nowrap;
}

#heroNav div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.heroCta {
  text-decoration: none;
  color: rgb(1, 1, 29);
  white-space: nowrap;
}

.heroCta1 {
  background-color: rgb(1, 1, 29);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

/* main section 1 */

#mainSection1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(../Images/download.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-inline: 9%;
  padding: 15rem 2rem 3rem;
  background-repeat: no-repeat;
  color: white;
}

#mainSection1 h1 {
  width: 84%;
  font-size: 3rem;
  padding: 1rem 0;
}

#mainSection1 p {
  width: 65%;
  line-height: 1.8rem;
}

/* main section 2 */

#mainSection2 {
  padding: 4% 12%;
}

#mainSection2 h3,
#mainSection2 h4 {
  color: rgb(1, 1, 29);
}

.articleContainer1 {
  display: flex;
  gap: 20px;
}

.articleContainer1 img {
  border-radius: 15px;
  width: 100%;
  margin-top: 2rem;
}

.articleContainer1 h4 {
  margin-top: 1rem;
}

.articleH4 {
  line-height: 1.3rem;
}

.articleContainer1 p {
  font-size: 13px;
  margin-top: 0.5rem;
  width: 75%;
  color: rgba(1, 1, 29, 0.815);
}

#mainSection2 button {
  margin-top: 2rem;
  text-align: center;
  margin-inline: 40%;
  white-space: nowrap;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(1, 1, 29);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* footer */

#footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-inline: 12%;
  border-radius: 10px;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

#footer p {
  margin: 1rem;
}

.footerCta {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footerCta button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.footerBtn1 {
  background-color: black;
}

.footerBtn2 {
  background-color: rgba(32, 30, 30, 0.842);
}

.footerCpr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.footerCpr p {
  font-size: 15px;
}
